.container {
  display: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: start;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media (max-width: 500px) {
  .container {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
